<header>
    <h1>URL Shortener</h1>
    <img src="image/ExportedContentImage.png">
</header>
<div class="container mt-5">
   <div class="form-group mx-sm-3 mb-2 input">
        <input class="form-control" type="text" id="url" placeholder="Enter url">
    </div>
    <button type="button" class="btn btn-light mb-2 input" id="send-btn">Shorten</button> 
    <h3 class="output" hidden="">Success! Please use this link:</h3>
    <a href="#" id="short" class="output" hidden="">123456</a>
    <button type="button" class="btn btn-primary output" id="copy-btn" hidden="">Copy</button>
</div>

<script type="text/javascript">
    const url = "http://localhost:3000/shortener";
    const inputs = document.querySelectorAll('.input');
    const outputs = document.querySelectorAll('.output');
    const urlText = document.querySelector('#url');
    const sendBtn = document.querySelector('#send-btn')
    const costBtn = document.querySelector("#copy-btn");
    const short = document.querySelector("#short");
    let state = false;

    function switchState(){
        state = !state;

        inputs.forEach((element)=>{
            element.hidden = !element.hidden;
        })
        outputs.forEach((element)=>{
            element.hidden = !element.hidden;
        })
    }

    sendBtn.addEventListener("click", function onUrlSent(event){
        let text = urlText.value.trim();
        urlText.value = ""
        axios
        .get(`${url}?url=${text}`)
        .then((res)=>{
            const result = res.data.result
            short.innerHTML = result
            short.href = result
            switchState()            
        })
        .catch((error)=>{
            console.error('縮短失敗: ', error);
        })
    })

    {{!-- 使用 Clipboard API 複製文本到剪貼簿 --}}
    costBtn.addEventListener("click", function copyToClipboard(event){
        navigator.clipboard.writeText(short.href)
            .then(() => {
                console.log("已複製到剪貼簿: " + short.href);
            })
            .catch(err => {
                console.error('複製失敗: ', err);
            })
            .finally(()=>{
                switchState()
            })
    })
</script>